@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  margin: 0;
  padding: 0;
}
:root{
  --color-primary: #3752FD;
}
body {
  font-family: "Poppins", sans-serif;
 
}
#discover{
  background-image: linear-gradient(to right, #3752FD, #9BA8F8);
  padding: 10px 20px;
}
.btn-primary{
  background-color: var(--color-primary);
  padding: 4px 12px;
}
.btn-history{
  background-color: var(--color-primary);
  padding: 4px 12px;
  color: #ffffff;
}
